<div ng-class="$ctrl.style.layout" class="pure-g">
  <div ng-class="$ctrl.style.sidebar" class="pure-u-1 pure-u-md-1-4">
    <div ng-class="$ctrl.style.header">
      <h1 ng-class="$ctrl.style.brandTitle">WP API Sample Application</h1>
      <h2 ng-class="$ctrl.style.brandTagline">Creating a blog using Angular</h2>
      <nav ng-class="$ctrl.style.nav">
        <ul ng-class="$ctrl.style.navList">
          <li ng-class="$ctrl.style.navItem">
            <a class="pure-button" href="http://v2.wp-api.org">WP API</a>
          </li>
          <li ng-class="$ctrl.style.navItem">
            <a class="pure-button" href="https://angularjs.org/">Angular</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div ng-class="$ctrl.style.content" class="pure-u-1 pure-u-md-3-4">
    <ng-view></ng-view>
    <div ng-class="$ctrl.style.footer">
      <div class="pure-menu pure-menu-horizontal">
        <ul>
          <li class="pure-menu-item">
            <a href="http://likr.github.io/" class="pure-menu-link">About</a>
          </li>
          <li class="pure-menu-item">
            <a href="http://twitter.com/_likr/" class="pure-menu-link">Twitter</a>
          </li>
          <li class="pure-menu-item">
            <a href="http://github.com/likr/wpapi-angular-example/" class="pure-menu-link">GitHub</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
