.contentSubhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.post {
  padding-bottom: 2em;
}

.postTitle {
  font-size: 2em;
  color: #222;
  margin-bottom: 0.2em;
}

.postAvatar {
  border-radius: 50px;
  float: right;
  margin-left: 1em;
}

.postDescription {
  font-family: Georgia, "Cambria", serif;
  color: #444;
  line-height: 1.8em;
}

.postMeta {
  color: #999;
  font-size: 90%;
  margin: 0;
}

.postCategory {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: #fff;
  background: #999;
  font-size: 80%;
}
