<div class="posts">
  <h1 class="contentSubhead">Recent Posts</h1>
  <section class="post" *ngFor="let post of posts">
    <header class="postHeader">
      <img class="postAvatar" alt="{{post.author.name}}&#x27;s avatar" height="48" width="48" [src]="post.author.avatar_urls['48']">
      <h2 class="postTitle">
        <a routerLink="/posts/{{post.id}}" [innerHtml]="post.title.rendered"></a>
      </h2>
      <p class="postMeta">
        By <a class="postAuthor" href="{{post.author.link}}">{{post.author.name}}</a> under
        <a class="postCategory" href="{{category.link}}" *ngFor="let category of post.categories">{{category.name}}</a>
      </p>
    </header>
    <div class="postDescription" [innerHtml]="post.excerpt.rendered"></div>
  </section>
  <div class="pagination">
    <div class="pure-menu pure-menu-horizontal">
      <ul>
      </ul>
    </div>
  </div>
</div>
