.layout {
  padding: 0;
}

.header {
  text-align: center;
  top: auto;
  margin: 3em auto;
}

.sidebar {
  background: rgb(61, 79, 93);
  color: #fff;
}

.brandTitle, .brandTagline {
  margin: 0;
}

.brandTitle {
  text-transform: uppercase;
}

.brandTitle a {
  color: white;
}

.brandTagline {
  font-weight: 300;
  color: rgb(176, 202, 219);
}

.navList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navItem {
  display: inline-block;
  display: inline;
  zoom: 1;
}

.navItem a {
  background: transparent;
  border: 2px solid rgb(176, 202, 219);
  color: #fff;
  margin-top: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 85%;
}

.navItem a:hover, .navItem a:focus {
  border: 2px solid rgb(61, 146, 201);
  text-decoration: none;
}

.content {
  padding: 2em 1em 0;
}

.footer {
  text-align: center;
  padding: 1em 0;
}

.footer a {
  color: #ccc;
  font-size: 80%;
}

.footer :global(.pure-menu) a:hover, .footer :global(.pure-menu) a:focus {
  background: none;
}

@media (min-width: 48em) {
  .content {
    padding: 2em 3em 0;
    margin-left: 25%;
  }

  .header {
    margin: 80% 2em 0;
    text-align: right;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
  }
}
